body {   
  margin: 20px 30px;
  font-size: 13px;
  font-family: 'Open Sans', Helvetica, Arial;
}

a {
  color: #34A9DC;
  text-decoration: none;
}

p {
  margin: 5px 0 20px;
}

h2 {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: normal;
}
.sqft:after{
content: " sqft"
}

.year:before {
    content: "Built in: ";
}

.pfix {
  display:inline;
  font-family: 'Open Sans', Helvetica, Arial;
  font-weight:600;
  padding: 0px 5px 0px 3px
}

